a, h1, h2, h3, div, body, html {
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.ttf") format("truetype")
}

body {
    background-color: #ffffbf;
    color: black;
    font-family: "Roboto", sans-serif;
    Padding: 0;
		Border: 0;
		Margin: 0;
    clear: left;
}
h3 {
    font-weight: bold;
}
p {
  font-size: 15px;
  padding-left: 15px;
}
#header {
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  background-color: #e3b104;
  margin-bottom: 25px;
  padding: 15px;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.left {
  text-align: left;
  word-spacing: normal;
}
.right {
  text-align: right;
  word-spacing: 10px;
}
#container {
  clear: both;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.dash, .budget, .check, .money {
  width: 200px;
  border: 1px solid #e3b104;
  border-radius: 5px;
  background-color: white;
  padding:  15px;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #e3b104;
  color: white;
  border-width: thin;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
button:hover {
  text-decoration: underline;
}
